* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto";
}

h1 {
  font-size: 2rem;
  line-height: 28px;
  font-weight: bold;
  letter-spacing: -0.004em;
  color: #000000;
  margin: 5% 5%;
}

h2 {
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: -0.004em;
  margin-left: 5%;
  margin-bottom: 1rem;
}

p {
  font-size: 1.4rem;
  line-height: 20px;
  color: #000000;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}

a {
  text-decoration: none;
}

.expert-title {
  display: block;
  align-items: center;
  margin-bottom: 3.4rem;
}

.Portrait {
  margin: 5% 5%;
}

.detail {
  margin-left: 5%;
  margin-bottom: 0.8rem;
}

#subject {
  border: 1px solid #E6E6E6;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 10rem;
  margin-bottom:3.1rem;
  padding: 12px;
  font-family: "Roboto";
  margin-left: 5%;
  margin-right: 5%;
}

textarea::placeholder {
  color: #777E8B;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 4.8rem;
  font-size: 1.4rem;
  line-height: 20px;
}

select {
  padding: 12px;
  font-size: 1.4rem;
  border: 1px solid rgb(165, 172, 185, 0.4);
  border-radius: 2px 0px 0px 2px;
  width: 90%;
  mix-blend-mode: normal;
  margin-left: 5%;
  margin-bottom: 2.4rem;
}

.message-box {
  font-size: 1.4rem;
 }

.buttons {
  display: flex;
}

.cancel-button {
  color: #1C2330;
  border-radius: 1.6rem;
  padding: 0.8rem 2.5rem;
  background: #EAEDF2;
  font-size: 1.2rem;
  line-height: 16px;
  margin-left: 2.3rem;
  margin-right: 1.6rem;
}

.send-button {
  color: #FFFFFF;
  border-radius: 1.6rem;
  padding: 0.8rem 2.5rem;
  background: #2E75F0;
  font-size: 1.2rem;
  line-height: 16px;
}

select {
  font-family: 'FontAwesome', 'Second Font name', 'Roboto';
}

@media screen and (min-width:768px) {
  .expert-title {
    display: flex;
    align-items: center;
    margin-bottom: 3.4rem;
  }

  .Portrait {
    margin-left: 2.6rem;
    margin-right: 2.2rem;
  }

  #subject {
    margin-left: 2.3rem;
    width: 70%;
    height: 8rem;
    margin-bottom:3.1rem;
    padding: 12px;
    font-family: "Roboto";
  }

  select {
    padding: 12px;
    width: 70%;
    margin-left: 2.3rem;
    margin-bottom: 2.4rem;
  }

  .detail {
    margin-left: 2.3rem;
  }

  h2 {
    margin-left: 2.3rem;
  }

  p {
    margin: 0;
  }

  h1 {
    margin-left:2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
  }
}

@media screen and (min-width:1025px) {

  #subject, select {
    width: 40%;
  }

  .Portrait {
    margin-top:0;
    margin-bottom:0;
  }

}
